header.jumbotron {
  background: url("images/banner.jpg");
  background-position: center center;
  background-size: cover;
  color: #fff;
}
header .container {
  margin-top: 13%;
}
header .midashi-btn {
  border: 1px solid #fff;
  color: #fff;
  border-radius: 0;
}
header .midashi-btn:hover {
  color: #0089ff;
  border-color: #0089ff;
}
.navbar-form {
  padding-right: 30px;
}
