doctype html
html[lang="ja"]
  head
    meta[charset="utf-8"]
    meta[http-equiv="X-UA-Compatible" content="IE=edge"]
    meta[name="viewport" content="width=device-width, initial-scale=1"]
    meta[name="description" content=""]
    meta[name="author" content="mtjune"]
    link[rel="icon" href="images/favicon.png"]
    title
      | MtJune's Page 
    link[href="css/bootstrap.min.css" rel="stylesheet"]
    link[href="navbar-fixed-top.css" rel="stylesheet"]
    / script[src="../../assets/js/ie-emulation-modes-warning.js"]
  body
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed[type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"]
            span.sr-only
              | Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand[href="#"]
            | MtJune
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a[href="#"]
                | Top
            li
              a[href="#About"]
                | About
            li
              a[href="#Research"]
                | 研究
            li
              a[href="#Photograph"]
                | 写真
            
          ul.nav.navbar-nav.navbar-right
            li
              a[href="https://github.com/mtjune"]
                | GitHub
            li
              a[href="https://twitter.com/MtJune11"]
                | Twitter
            li
              a[href="https://www.flickr.com/photos/131276259@N08/"]
                | Flickr
            li 
              a[href="http://mtjune.hateblo.jp/"]
                | Blog
                
    .container
      .jumbotron
        h1
          | MtJune
    
    .container
      .jumbotron
        h2#About
          | About
        p
          | 筑波大学情報学群 知識情報・図書館学類
        ul
          li
            | 2014年 筑波大学情報学群 知識情報・図書館学類編入
          li
            | 2009年 国立高松工業高等専門学校(現香川高等専門学校) 電気情報工学科入学
    
    .container
      .jumbotron
        h2#Research
          | 研究
        p
          | 機械学習 / ニューラルネットワーク / 画像認識
    
    .container
      .jumbotron
        h2#Photograph
          | 写真
        p
          a[href="https://www.flickr.com/photos/131276259@N08/"]
            | Flickr
        p
          a[href="http://thisisgallery.com/products/list.php?mode=search&name=yamada_junya"]
            | This is Gallery
    
          
    
        / p
        /   a.btn.btn-lg.btn-primary[href="../../components/#navbar" role="button"]
        /     | View navbar docs »
    script[src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"]
    script[src="js/bootstrap.min.js"]
    / script[src="../../assets/js/ie10-viewport-bug-workaround.js"]
